{% extends 'baseheader.html' %} {% block title %}Bienes Raices Cevallos{%
endblock %} {% block contents %}
<div class="enunciado-1">
  <h1>Área metropolitana</h1>
  <pre>
    Bienes Raíces Cevallos, es una firma encargada de trabajar el sector metropolitano de San Salvador, tanto en: compra, venta y renta de inmuebles.
        </pre
  >
</div>

<div class="enunciado-2">
<pre>
    Es un gusto para nosostros brindarte un servicio personalizado y de calidad para ayudarte con tu búsqueda inmobiliaria.
    Si necesitas asistencia o tienes preguntas, siéntete libre de contactarnos.
</pre>
<a href="contacto.html" target="_blank">Contactanos</a>
</div>

<div class="mapa-2">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62023.098333365815!2d-89.25035706659082!3d13.691559119855789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f633067b411775d%3A0x1f75978893fb5c96!2sSan%20Salvador!5e0!3m2!1ses-419!2ssv!4v1649648139820!5m2!1ses-419!2ssv"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </iframe>
</div>

{% endblock %}
